.services__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 50px 20px;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.services__content{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.services__title {
    text-align: center;
    margin-bottom: 40px;
}

.services__boxes {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3.5rem;
    width: 55vw;
}

.service__box {
    position: relative; 
    background-color: var(--CARD-BACKGROUND-COLOR);
    padding: 40px 20px 20px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.icon__service{
    position: absolute;
    top: -2.5rem; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    color: var(--ICON-BACKGROUND-COLOR);
    
    width: 5rem;
    height: 5rem;
    background-color: var(--CARD-BACKGROUND-COLOR);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}